<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Cart</title>

    <style>
        .p0 {
            padding-right: 70px;
        }
        .btn {
            background-color: DodgerBlue;
            border: none;
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            cursor: pointer;
        }

        td {
            padding-left: 10px;
            padding-right: 10px;
        }

        tr {
            border-bottom: thick double #32a1ce;
        }

    </style>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand p0 pull-right" href="#/">Logout</a>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Home</a>
            <a class="navbar-brand" href="#/cart">Cart</a>
            <a class="navbar-brand" href="#/history">History</a>
        </div>
    </div>
</div>
<h2>Cart</h2>

<div ng-if="cartList.carts.length == 0">
    <h2>Your cart is empty!</h2>
</div>
<div ng-if="cartList.carts.length > 0">
<p>You are ordering from {{cartList.carts[0].restaurant.name}}</p>
<br>
<br>
<h4>Products</h4>
<table class="mytable">
    <tr ng-repeat="cart in cartList.carts">
        <td>
            Name: {{cart.product.name}}<br>
            Quantity: {{cart.quantity}}<br>
            Price: {{cart.price}}
        </td>
        <td><button class="btn" ng-click="removeFromCart(cart.product.id)"><i class="fa fa-trash"></i></button></td>
    </tr>
</table>

<br>
<br>
<h3> Total price = {{cartList.totalPrice}}</h3>
<button ng-click="checkout(cartList.carts[0].order.id)">Checkout</button>
</div>
</body>
</html>