<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand p0 pull-right" href="#/">Logout</a>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/adminHome">Home</a>
            <a class="navbar-brand" href="#/adClients">Clients</a>
            <a class="navbar-brand" href="#/adRestaurants">Restaurants</a>
            <a class="navbar-brand" href="#/adProducts">Products</a>
        </div>
    </div>
</div>
<div>
    <h2>Users</h2>

    <div ng-if="users.length == 0">
        <div class="alert alert-info" role="alert">Loading...</div>
    </div>


    <div ng-if="users.length > 0">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Telephone</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.telephone}}</td>
                <td><button ng-click="deleteClient(user.email)">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h2>Add new user</h2>
        <form name="form" ng-submit="addClient()" ng-controller="AdminClientController">
            Firstname:<br/> <input type = "text" name = "firstname" placeholder="Firstname" ng-model="credentials.firstname"/><br/><br/>
            Lastname:<br/> <input type = "text" name = "lastname" placeholder="Lastname" ng-model="credentials.lastname"/><br/><br/>
            Email:<br/> <input type = "email" name = "email" placeholder="E-mail" ng-model="credentials.email"/><br/><br/>
            Telephone:<br/><input type = "text" name = "telephone" placeholder="Phone no." ng-model="credentials.telephone"><br/><br/>
            Password:<br/> <input type = "password" name = "password" placeholder="Password" ng-model="credentials.password"/><br/><br/>
            City:<br/> <input type = "text" name = "city" placeholder="City" ng-model="credentials.address.city"/><br/><br/>
            Postal code:<br/> <input type = "text" name = "postalcode" placeholder="Postal code" ng-model="credentials.address.postalcode"/><br/><br/>
            Street:<br/><input type = "text" name = "street" placeholder="Street" ng-model="credentials.address.street"/><br/>
            <input type = "text" name = "number" placeholder="Number" ng-model="credentials.address.number"/><br/><br/>
            <input type = "submit" value = "Add user"/>
        </form>
    </div>
</div>


</body>
</html>