<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
    img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 70%;
    }

    .p0 {
        padding-right: 70px;
    }

</style>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand p0 pull-right" href="#/">Logout</a>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/adminHome">Home</a>
            <a class="navbar-brand" href="#/adClients">Clients</a>
            <a class="navbar-brand" href="#/adRestaurants">Restaurants</a>
            <a class="navbar-brand" href="#/adProducts">Products</a>
        </div>
    </div>
</div>
<div>
    <h2>Restaurants</h2>
    <div ng-if="restaurants.length == 0">
        <div class="alert alert-info" role="alert">Loading...</div>
    </div>


    <div ng-if="restaurants.length > 0">
        <table class="table table-hover">
            <tr ng-repeat="restaurant in restaurants">
                <td>
                    <div style="height: 100px">
                        <img ng-src="data:image/JPEG;base64,{{restaurant.image}}" >
                    </div>
                    {{restaurant.name}}
                </td>
                <td><button ng-click="remove(restaurant.id)">
                    Delete
                </button>
                </td>
                <td>
                    <select id = "selectedProduct">
                        <option ng-repeat="product in products">{{product.name}}</option>
                    </select>
                    Price for restaurant with id {{restaurant.id}}: <input type="number" id={{restaurant.id}}/>
                    <button ng-click="addToRestaurant(product.id, restaurant.id)">Add</button>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>