<style>
	#pcorners{
		border-radius: 25px;
		border: 2px solid #000000;
		padding: 20px;
		width: 350px;
		height: 200px;
		background: rgba(239,239,208,.4);
		position:absolute;
		margin:auto;
		top:0;
		right:0;
		bottom:0;
		left:0;
	}


	#asd{
		border-radius:7px;
		border-width:3px;
		border-style: wave;
		border-color:#C7F6EF;
	}

	#asd2{
		border-radius:7px;
		border-width:3px;
		border-style: wave;
		border-color:#C7F6EF;
	}

	.container{
		display: flex;
		justify-content: center;
	}

	input[type = button]{
		background-color: black;
		color: white;
		padding: 11px;
		font-size: 16px;
		border: none;
		opacity: 1;
		transition: 0.3s;
		cursor:pointer;
		border-radius: 12px;
	}

	input[type = button]:hover{
		background-color: white;
		color: black
	}

	input[type=submit]{
		background-color: black;
		color: white;
		padding: 11px;
		font-size: 16px;
		border: none;
		transition: 0.3s;
		cursor:pointer;
		border-radius: 12px;
		opacity:1;
	}

	input[type = submit]:hover{
		background-color: white;
		color: black;
	}

	h2{
		display:block;
		font-size: 16px;
		color:black;
	}

	body{
		background-image: url("https://drive.google.com/uc?id=19eBAXo2733GzuGAEXL5b2XCSe4Ifps35");
		background-repeat: no-repeat;
		background-size:cover;
	}
</style>

<body>
<div class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/">Login</a>
			<a class="navbar-brand" href="#/register">Register</a>
		</div>
	</div>
</div>
<div id="pcorners" align="center">
	<input id ="asd" type = "text" name = "email" placeholder="E-mail" ng-model="credentials.email"/><br/><br/>
	<input id="asd2" type = "password" name = "password" placeholder="Password" ng-model="credentials.password"/><br/><br/>
	<button ng-click="login()">Login as client</button>
	<button ng-click="loginEmployee()">Login as employee</button>
	<button ng-click="loginAdmin()">Login as admin</button>
</div>
</body>