<style>
    .p0 {
        padding-right: 70px;
    }

</style>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand p0 pull-right" href="#/">Logout</a>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Home</a>
            <a class="navbar-brand" href="#/cart">Cart</a>
            <a class="navbar-brand" href="#/history">History</a>
        </div>
    </div>
</div>
<div>
    <h2>{{restaurant.name}}</h2>

    <div ng-if="products.length == 0">
        <div class="alert alert-info" role="alert">Loading...</div>
    </div>

    <div ng-if="products.length > 0">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description / Ingredients</th>
                <th>Category</th>
                <th>Price</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products">
                <td>{{product.product.name}}</td>
                <td>{{product.product.description}}</td>
                <td>{{product.product.category}}</td>
                <td>{{product.price}}</td>
                <td>
                    <button ng-click="increase(product.product.id)">+</button>  Quantity = <b id ={{product.product.id}}>0</b>  <button ng-click="decrease(product.product.id)">-</button>
                    <button ng-click="addToCart(product)">
                        Add to cart
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div></body>