<style>
    img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 70%;
    }

    .p0 {
        padding-right: 70px;
    }

</style>

<body>
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand p0 pull-right" href="#/">Logout</a>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Home</a>
            <a class="navbar-brand" href="#/cart">Cart</a>
            <a class="navbar-brand" href="#/history">History</a>
        </div>
    </div>
</div>
<div>
    <h2>Restaurants</h2>
        <div ng-if="restaurants.length == 0">
            <div class="alert alert-info" role="alert">Loading...</div>
        </div>


        <div ng-if="restaurants.length > 0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Restaurant</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="restaurant in restaurants">
                    <td>
                        <div style="height: 100px">
                            <img ng-src="data:image/JPEG;base64,{{restaurant.image}}" >
                        </div>
                        {{restaurant.name}}
                    </td>
                    <td>
                        <button ng-click="getProducts(restaurant)">
                            View menu
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
</body>