<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<style>
    .p0 {
        padding-right: 70px;
    }

    table {
        border-collapse: collapse;
        width:70%;
        align: center;
    }

    th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #7FB8AF;
        color: #0E433B;
    }

    td, th{
        border: 1px solid #ddd;
        padding: 8px;
        background-color: lightblue;
    }
</style>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand p0 pull-right" href="#/">Logout</a>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/employeeHome">Home</a>
        </div>
    </div>
</div>
    <h2>Pending orders</h2>
    <div ng-if="orders.length > 0">
        <table id="productTable">
            <tr>
                <th>Placement date</th>
                <th>Restaurant</th>
                <th>Products</th>
                <th>Total price</th>
                <th>Confirm</th>
            </tr>
            <tr ng-repeat="container in orders">
                <td>{{container.order.date}}</td>
                <td>{{container.carts[0].restaurant.name}}</td>
                <td>
                    <ul ng-repeat="cart in container.carts">
                        <li>{{cart.product.name}}</li>
                    </ul></td>
                <td>{{container.totalPrice}}</td>
                <td><button ng-click="confirmOrder(container.order.id)">Confirm</button></td>
            </tr>
        </table>
    </div>
</body>
</html>