<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

        .p0 {
            padding-right: 70px;
        }
        #productTable{
            border-collapse: collapse;
            width:70%;
            align: center;
        }

        #productTable tr {
            border-bottom: thick double #32a1ce;
        }

        #productTable td, #productTable th{
            border: 1px solid #ddd;
            padding: 8px;
            background-color: lightblue;
        }

        #productTable tr:nth-child(even){background-color: #f2f2f2;}

        #productTable tr:hover{
            background-color: #627B77;
        }

        #productTable th{
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #7FB8AF;
            color: #0E433B;
        }


    </style>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand p0 pull-right" href="#/">Logout</a>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Home</a>
            <a class="navbar-brand" href="#/cart">Cart</a>
            <a class="navbar-brand" href="#/history">History</a>
        </div>
    </div>
</div>
<div>
    <h2>Order history</h2>

    <div ng-if="orders.length == 0">
        <div class="alert alert-info" role="alert">Loading...</div>
    </div>

    <div ng-if="orders.length > 0">
        <table id="productTable">
            <tr>
                <th>Placement date</th>
                <th>Status</th>
                <th>Restaurant</th>
                <th>Products</th>
                <th>Total price</th>
            </tr>
            <tr ng-repeat="container in orders">
                <td>{{container.order.date}}</td>
                <td><b>{{container.order.status}}</b></td>
                <td>{{container.carts[0].restaurant.name}}</td>
                <td>
                <ul ng-repeat="cart in container.carts">
                    <li>{{cart.product.name}}</li>
                </ul></td>
                <td>{{container.totalPrice}}</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>