<style>
    #mydiv {
        border-radius : 5px;
        background-color: rgba(242,242,242,.4);
        padding: 20px;
        width:400px;
    }
    input[type=submit] {
        width: 50%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    body{
        background:url("https://drive.google.com/uc?id=1XxJ1oLGxfWL8RevsNh3qA_lrQj-4gaoo") no-repeat center center fixed;
        background-size:cover;
    }
</style>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Login</a>
            <a class="navbar-brand" href="#/register">Register</a>
        </div>
    </div>
</div>
<div id = "mydiv" align= "left">
    <form name="form" ng-submit="register()" ng-controller="RegisterController">
        Firstname:<br/> <input type = "text" name = "firstname" placeholder="Firstname" ng-model="credentials.firstname"/><br/><br/>
        Lastname:<br/> <input type = "text" name = "lastname" placeholder="Lastname" ng-model="credentials.lastname"/><br/><br/>
        Email:<br/> <input type = "email" name = "email" placeholder="E-mail" ng-model="credentials.email"/><br/><br/>
        Telephone:<br/><input type = "text" name = "telephone" placeholder="Phone no." ng-model="credentials.telephone"><br/><br/>
        Password:<br/> <input type = "password" name = "password" placeholder="Password" ng-model="credentials.password"/><br/><br/>
        City:<br/> <input type = "text" name = "city" placeholder="City" ng-model="credentials.address.city"/><br/><br/>
        Postal code:<br/> <input type = "text" name = "postalcode" placeholder="Postal code" ng-model="credentials.address.postalcode"/><br/><br/>
        Street:<br/><input type = "text" name = "street" placeholder="Street" ng-model="credentials.address.street"/><br/>
        <input type = "text" name = "number" placeholder="Number" ng-model="credentials.address.number"/><br/><br/>
        <input type = "submit" value = "Register"/>
    </form>
</div>
</body>