<div>
	<h2>Users</h2>

	<div ng-if="users.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>


	<div ng-if="users.length > 0">
		<h2>current user = {{currentUser.firstname}}</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Telephone</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{user.firstname}}</td>
					<td>{{user.lastname}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
